<div class="aboutPageContainer">
  <div class="aboutHeadingContainer">
    <h1 class="about__heading--h1">Discover delicious foods</h1>
    <h2 class="about__heading--h2">
      Bringing the Best of Home Cooking to Your Screens: Our Mission to Share
      Mouth-Watering Recipes and Culinary Tips.
    </h2>
  </div>
  <div class="aboutCardContainer">
    <div class="about__info--container">
      <img
        class="about__image"
        src="https://media.istockphoto.com/id/1220017909/photo/top-view-table-full-of-food.jpg?b=1&s=170667a&w=0&k=20&c=AV3FYwt6ya5VvVwK4x5tMEx2l1QHsv_n0arEHbLk2e0="
        alt="Picture of the author"
      />

      <p class="about__paragraph">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
        velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
        occaecat cupidatat non proident, sunt in culpa qui officia deserunt
        mollit anim id est laborum.
      </p>
    </div>
    <div class="about__info--container">
      <p class="about__paragraph">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
        velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
        occaecat cupidatat non proident, sunt in culpa qui officia deserunt
        mollit anim id est laborum.
      </p>
      <img
        class="about__image"
        src="https://media.istockphoto.com/id/1220017909/photo/top-view-table-full-of-food.jpg?b=1&s=170667a&w=0&k=20&c=AV3FYwt6ya5VvVwK4x5tMEx2l1QHsv_n0arEHbLk2e0="
        alt="Picture of the author"
      />
    </div>
    <div class="about__info--container">
      <img
        class="about__image"
        src="https://media.istockphoto.com/id/1220017909/photo/top-view-table-full-of-food.jpg?b=1&s=170667a&w=0&k=20&c=AV3FYwt6ya5VvVwK4x5tMEx2l1QHsv_n0arEHbLk2e0="
        alt="Picture of the author"
      />
      <p class="about__paragraph">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
        velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
        occaecat cupidatat non proident, sunt in culpa qui officia deserunt
        mollit anim id est laborum.
      </p>
    </div>
  </div>
</div>
