.footerContainer {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: #CD381A;
    min-height: 65px;
    color: white;
    margin-top: 20px;
}