<div class="navigationContainer">
  <nav class="navigationWrapper">
    <a
      class="navItem"
      routerLink="/about"
      routerLinkActive="active"
      ariaCurrentWhenActive="page"
      >About</a
    >
    <a
      class="navItem"
      routerLink="/recipes/allRecipes"
      routerLinkActive="active"
      ariaCurrentWhenActive="page"
      >Recipes</a
    >
    <a
      class="navItem"
      routerLink="/addRecipe"
      routerLinkActive="active"
      ariaCurrentWhenActive="page"
      >Add Recipe</a
    >
  </nav>
</div>
